.title {
  text-align: center;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
}


.form-control {
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
  margin: 1%;
}

.form-control:focus {
  color: rgb(71, 78, 85);
  background-color: rgb(255, 255, 255);
  border-color: rgb(124, 187, 255);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.group-prise {
  align-self: center;
}

.btn-cost {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 1em;
  outline: none;
  margin: 1%;
  height: calc(1.5em + .75rem + 2px);
}

.btn-cost {
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  box-shadow: inset 0 1px 0 #80B0FB;
}

.btn-cost:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

.btn-cost:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}

.clear {
  background: rgb(11, 40, 87);
  padding-top: -1px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 0.9em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  background-color: rgb(255, 255, 255);
  margin: 2%;
  border: 1px solid rgb(214, 167, 10);
  border-radius: 10px 20px;
  padding-left: 5%;
  padding-right: 5%;
  display: block;
  max-width: 100%;
  height: auto;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.card-image {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 2%;
  max-width: 100%;
  height: auto;
}

.counter-bloc {
  width: 100%;
  justify-items: start;
  align-items: center;
}

.row {
  counter-reset: card-image; /* Инициируем счетчик */
}

.counter-card {
  border: 2px solid rgb(235, 59, 15);
  display: grid;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 30px;
  background: rgba(241, 134, 10, 0.5);
  border-radius: 100%;
  font-size: 1.3em;
}

.counter-card:before {
  counter-increment: card-image; /* Указываем идентификатор счетчика */
  content: counter(card-image); /* Выводим текст перед содержимым */
  font-style: italic;
}

.position-card {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-rows: minmax(auto, 318px);
  max-width: 318px;
  height: 320px;
  margin-bottom: 2%;
}

.image-card {
  display: block;
  max-width: 300px;
  height: 320px;
}

.card-content {
  display: grid;
  grid-auto-rows: minmax(40px, auto);
}

.card-name {
  text-align: center;
  font-weight: 600;
  font-style: italic;
  font-style: oblique;
}

.info {
  display: grid;
  grid-auto-rows: minmax(60px, auto);
}

.shop-title {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-position {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  align-items: center;
}

.logo-shop {
  background: rgba(20, 69, 202, 0.8);
  display: grid;
  min-width: 50px;
  height: 50px;
  align-items: center;
  justify-items: center;
  margin-bottom: 10%;
}


.shop-price {
  border: 1px solid rgb(214, 24, 10);
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px;
  margin-bottom: 2%;
  padding: 2%;
}

.btn-line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn-page {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 8% 9%;
  margin: 7% 8%;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}

.btn-page:hover {
  background-position: right center;
}

.module {
  display: grid;
  justify-content: center;
  align-items: center;
}

.numder-page {
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  font-style: oblique;
}

.page-next {
  display: grid;
  justify-content: center;
  align-items: center;
}

.page-prev {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991.98px) {
  .filter {
    grid-template-columns: 1fr;
  }
}