.section {
  margin-left: 5%;
  margin-right: 5%;
}

.bloc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.phone-img {
  background-color: rgb(255, 255, 255);
  display: grid;
  justify-content: center;
  border: 2px solid rgba(92, 94, 218, 0.63);
  border-top: none; 
  border-bottom: none; 
  border-radius: 30px/90px;
  margin: 2%;
}

.price-info {
  border: 2px solid rebeccapurple;
  border-top: none; 
  border-bottom: none; 
  border-radius: 30px/90px;
  margin: 2%;
  padding: 2%;
}

.price {
  display: grid;
  justify-content: center;
  background: rgb(233, 91, 9);
  padding: 5%;
  margin: 2%;
  border-top-left-radius: 100% 20px; 
  border-bottom-right-radius: 100% 20px;
  width: 50%;
}

.price-txt {
  font-weight: 700;
  font-style: italic;
  font-style: oblique;
  font-size: 2rem;
  color: rgb(232, 237, 255);
}

.title {
  padding: 2%;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.td-info {
  background-color: rgb(252, 252, 252);
  color: rgb(0, 0, 0);
  border-top: 1px solid #2067c5;
  padding: 10px 15px;
}

.td-info:nth-child(2n) {
  background: rgb(240, 240, 233);
}

.shops-info {
  margin-top: 1%;
}

.shops-position {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-shops{ 
  display: grid;
  width: 100%;
  padding: 1%;
}

.link-shops {
  background: rgb(233, 91, 9);
  display: grid;
  grid-template-columns: 22% 56% 22%;
  text-decoration: none;
  color: rgb(232, 237, 255);
  margin: 1%;
}

.main-shops-logo {
  display: grid;
  background: rgba(20, 69, 202, 0.8);  
  min-width: 50px;
  height: 58px;
  align-items: center;
  justify-items: center;
  padding-right: 1%;
}

.main-shops-name {
  display: grid;
  align-items: center;
  padding-left: 2%;
}

.main-shops-price {
  background: rgba(24, 23, 23);
  display: grid;
  align-items: center;
  justify-items: center;

}

.dtn-shops-all {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 2%;
}

.all-shops {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 1%;
}

.slider {
  min-width: 300px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.5s linear forwards;
  animation: check 0.5s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  -webkit-transform: translateX(-75%);
  transform: translateX(-75%);
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  transition: all 1s ease-out;
  display: flex;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.slider__contents img {
  display: block;
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.btn-shop {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
  outline: none;
}

.btn-shop {
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  box-shadow: inset 0 1px 0 #80B0FB;
}

.btn-shop:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

.btn-shop:active {
  box-shadow: inset 0 2px 5px #2370FE; 
}

.bloc-more-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.shop-position {
  width: 90%;
  justify-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.all-link {
  padding: 2%;
}

.name-shop {
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .bloc {
    display: grid;
    grid-template-columns: 1fr;
    width: 98%;
  }

  .bloc-more-info {
    display: grid;
    grid-template-columns: 1fr;
    width: 98%;
  }

  .td-info {
    width: 90%;
  }

  .price {
    width: 40%;
  }

  .main-shops-logo {
    min-height: 84px;
  }
}

@media (max-width: 575.98px) {
  .shops-position {
    grid-template-columns: 1fr;
  }

  .main-shops-logo img {
    max-height: 80px;
  }

  .price {
    width: 90%;
  }

  .all-shops {
    grid-template-columns: 80%;
  }

  .bloc-more-info {
    width: 100%;
    margin-left:  4%;
    padding: 0;
    margin-bottom: 2%;
  }

}