<div class="heder">
  <div class="title hed-bloc">
    <h1 class="logo" (click)="startPage()">
      Voice
    </h1>
    <p class="slogan">Знайди кращу ціну ;)</p>
  </div>
  <div class="voiсe hed-bloc">
    <app-chat-dialog></app-chat-dialog>
  </div>
  <div class="box-search hed-bloc">
    <input (click)="phonePage()" class="input-search" type="search" id="search" #onSearch
           (input)="inputSearch(onSearch.value)" placeholder="Пошук"/>
  </div>
  <button class="btn btn-modal hed-bloc" id="voiceCom">Доступні голосові команди</button>
  <div class="modal">
    <div class="modal__box">
      <div class="content">
        <ul class="list">
          <li>
            <p>
              Слова що знаходяться в лапках є голосовими командами наприклад "Голосові команди"
            </p>
          </li>
          <li>
            <p>
              1)Скажіть назву бренду або його номер, наприклад, "Самсунг"
            </p>
          </li>
          <li>
            <p>
              2) Для пролистування сторінок "Вперед" або "Назад"
            </p>
          </li>
          <li>
            <p>
              3) Для прокрутки сторінки "Вгору" або "Вниз"
            </p>
          </li>
          <li>
            <p>
              4) Для входу "Увійти", та виконайте подальші дії
            </p>
          </li>
          <li>
            <p>
              5) Для створення аккаунту "Реєстрація", та виконайте подальші дії
            </p>
          </li>
          <li>
            <p>
              6) Для того, щоб увійти "Увійти", та виконайте подальші дії
            </p>
          </li>
          <li>
            <p>
              7)Скажіть назву телефону або його номер від "1" до "12"
            </p>
          </li>
          <li>
            <p>
              8) Для переходу в особистий кабінет "Кабінет"
            </p>
          </li>
          <li>
            <p>
              9) Для повернення на головну сторінку "Головна"
            </p>
          </li>
          <li>
            <p>
              10) Для того, щоб побачити більше магазинів з даним товаром "Магазини"
            </p>
          </li>
          <li>
            <p>
              11) Для пошуку "Пошук"
            </p>
          </li>
          <li>
            <p>
              12) Для сортування по ціні "Мінімальна ціна" або "Максимальна ціна", а потім суму яку бажаєте
            </p>
          </li>
          <li>
            <p>
              13) Для сортування від дорогих до дешевих "Дорогі"
            </p>
          </li>
          <li>
            <p>
              14) Для сортування від дешевих до дорогих "Дешеві"
            </p>
          </li>
          <li>
            <p>
              15) Для перелистування фотографій конкретного продукту наприклад "Третє фото"
            </p>
          </li>
          <li>
            <p>
              16) Для перегляду всих характеристик продукту "Характеристики"
            </p>
          </li>
          <li>
            <p>
              17) Для пролистування сторінок з магазинами "Вперед" або "Назад"
            </p>
          </li>
          <!-- <li>
            <p>
              18)
            </p>
          </li>
          <li>
            <p>
              19)
            </p>
          </li>
          <li>
            <p>
              20)
            </p>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="btn-bloc hed-bloc">
    <div class="btn-div">
      <button class="btn-input" (click)="openInput()">
        <p>
          Увійти
        </p>
      </button>
    </div>
  </div>
</div>
