<app-heder></app-heder>
<section>
  <div class="voic" id="user"></div>
  <h2>Особистий кабінет</h2>
  <div>
    <img src="" alt="">
  </div>
  <div>
    <form action="">
      <div class="form-group">
        <label for="name">Імʼя</label>
        <p>приходе з бекенду</p>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <p>приходе з бекенду</p>
      </div>
      <div class="form-group">
        <label for="phone">Телефон</label>
        <p>приходе з бекенду</p>
      </div>
      <div class="form-group">
        <button type="submit">Змінити пароль</button>
      </div>
    </form>
    <table>
      <tr>
        <td>
          <p>Товар що часто купуєте</p>
        </td>
        <td>
          <p>Магазин</p>
        </td>
        <td>
          <p>Рейтинг</p>
        </td>
      </tr>
    </table>

    <div>
      <div>
        <img src="" alt="">
      </div>
      <div>
        <p>Назва товару</p>
      </div>
      <div>
        <button>Придбати</button>
      </div>
      <div>
        Логотип магазину
      </div>
      <div>
        <p>+5</p>
      </div>
    </div>
    <table>
      <tr>
        <td>
          <p>Бажаний товар</p>
        </td>
        <td>
          <p>Магазин</p>
        </td>
        <td>
          <p>Рейтинг</p>
        </td>
      </tr>
    </table>

    <div>
      <div>
        <img src="" alt="">
      </div>
      <div>
        <p>Назва товару</p>
      </div>
      <div>
        <button>Придбати</button>
      </div>
      <div>
        Логотип магазину
      </div>
      <div>
        <p>+5</p>
      </div>
    </div>
  </div>
</section>
